.product{
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    margin: 0% 2%;
}

.product mat-card-title{
    color: chocolate;
}

mat-divider{
    width:85%;
    margin: 0 2%;
}

mat-card-header{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}