form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchbar{
    margin: 0 auto;
    width: 60%;
}

.location{
    width: 40%;
    display: inline;
}

.search-button{
    margin : 0 auto;
    width: 85%;
    display: block;
}

.searchbar-div{
    width:60%;
    margin: auto;
    display: block;
    text-align: center;
}