.table-container{
    height: 100%;
    display: flex;
    margin:auto;
}

.myorders{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
}

tr th{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-weight:900;
    font-size:small;
    background-color: teal;
    color: whitesmoke;
}

tr td{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: fit-content;
}

.footer-text{
    font-weight:900;
    font-size:small;
}

table{
    vertical-align:middle;
    margin: auto auto;
    width: 100%;
}

view-order-details-dialog{
    width: 20%;
    align-self: center;
    vertical-align:middle;
    margin-top:2%;
}

.innerTable{
    width: 100%;
    margin-left:0px;
    margin-right: 0px;
}

.innerTable-th{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-weight:900;
    font-size:small;
    background-color: blue;
    color: whitesmoke;
}

.innerTable{
    border: 2px solid gray;
}