<div class="cart-container">
    <app-cart (toggleThemeEvent)="toggleTheme($event)" [ngClass] = "{'dark-theme':isDarkTheme, 'light-theme':!isDarkTheme}"></app-cart>
</div>
<div class="page-container" [ngClass] = "{'dark-theme':isDarkTheme, 'light-theme':!isDarkTheme}">
    <mat-sidenav-container>        
        <mat-sidenav class="navbar" #sidemenu mode="push">
            <mat-nav-list>
                <a mat-list-item>
                    <button mat-mini-fab [ngStyle]="{backgroundColor:this.avatarColor, color:'white'}">
                        {{this.userInitials.toLocaleUpperCase()}}
                    </button>
                    <div class="navlink-text">
                        {{this.currentUser.name}}
                    </div>
                </a>                 
                <a mat-list-item routerLink="/landingpage"><mat-icon>home</mat-icon><div class="navlink-text">Home</div></a>
                <a mat-list-item routerLink="/profile/my-profile"><mat-icon>account_circle</mat-icon><div class="navlink-text">Profile</div></a>
                <a mat-list-item routerLink="/orders/my-orders"><mat-icon>shopping_cart</mat-icon><div class="navlink-text">My Orders</div></a>
            </mat-nav-list> 
        </mat-sidenav>   
        
        <mat-sidenav-content class="navbar">
            <button mat-icon-button class="navbar-button" (click)="toggleMenu(sidemenu)">
                <mat-icon color="primary" *ngIf="!menuToggled">menu</mat-icon>
                <mat-icon color="primary" *ngIf="menuToggled">menu_open</mat-icon>
            </button>
        </mat-sidenav-content>
    </mat-sidenav-container>  
    <div class="page" [ngClass] = "{'dark-theme':isDarkTheme, 'light-theme':!isDarkTheme}">         
        <router-outlet></router-outlet>
    </div>     
</div>